@charset "utf-8";
/* CSS Document */

.xbox 
{
	background-image: url("../img/xbox.png");
	position:relative;
	right:10px;
	top:10px;
	color:red;
}

.xbox .mouseoverxbox
{
	background-image:url("../img/xbox_over.png");
	color:green;
}