@charset "utf-8";
/* CSS Document */

.xbox 
{
	background-image: url("img/xbox.png");
	float:right;
	margin-right:1em;
}

.xbox .mouseoverxbox
{
	background-image:url("img/xbox_over.png");
	color:green;
}