@charset "utf-8";
/* CSS Document */

.xbox 
{
	background-image: url("../img/xbox.png");
	position:absolute;
	right:10px;
	top:10px;
}

.xbox .mouseoverxbox
{
	background-image:url("../img/xbox_over.png");
}